/* Portrait Tablet */
@media all and (min-width: 960px) {
  div#topLinks {
    display: none;
  }
}
@media all and (max-width: 960px) {
  div#topCont {
    width: 100%;
  }
  div#leftCont {
    margin-top: 15px;
    width: 100%;
  }
  div#rightCont {
    display: none;
  }
  div#topLinks {
    font-size: 14px;
    margin: -15px 0 0 -5px;
  }
  div#topLinks a {
    margin: 0 15px 0 15px;
  }
}
@media all and (max-width: 400px) {
  div#topCont {
    width: 100%;
  }
  div#leftCont {
    width: 100%;
  }
  div#rightCont {
    display: none;
  }
  span.statster_year,
  div#leftContInner,
  div#topContInner div#addListeningCont,
  table.chartTable .title {
    display: none;
  }
  div#leftContOuter {
    margin-left: 0;
  }
  div.container {
    margin: 7px 3px 15px 1px;
  }
  div.externalLink,
  div.socialMedia {
    display: none;
  }
  table.chartTable tbody tr td.albumImg {
    width: 45%;
  }
  img.artistImg300,
  img.albumImg300 {
    width: 200px;
  }
  div.albumInfo,
  div.artistInfo {
    margin-left: 210px;
  }
  form#addListeningForm input[type="text"] {
    background-color: #eee;
    border-radius: 3px;
    font-size: 20px;
    margin: 0 0 0 0;
    padding: 4px 4px 4px 8px;
    width: 90%;
  }
}
