/* Portrait Tablet */
@media (min-width: 481px) and (max-width: 960px) {
  div#rightCont {
    display: none;
  }
  div#leftCont {
    width: 100%;
  }
  div#leftContOuter {
  }
  div#footer div.socialMedia {
    padding-right: 7px;
  }
}
/* Landscape smart phone */
@media (min-width: 321px) and (max-width: 480px) {
  div#topCont {
    display: none;
  }
  div#mainCont {
    margin-top: 0;
  }
  div#rightCont {
    display: none;
  }
  div#leftCont {
    width: 100%;
    max-width: 480px;
    min-width: 321px;
  }
}
/* Portrait smart phone */
@media (max-width: 320px) {
  div#topCont {
    display: none;
  }
  div#mainCont {
    margin-top: 0;
  }
  div#rightCont {
    display: none;
  }
  div#leftCont {
    width: 320px;
  }
}
@media (min-width: 611px) and (max-width: 960px) {
  ul.chartList {
    width: 570px;
  }
} 
@media (max-width: 610px) {
  ul.chartList {
    width: 321px;
  }
}