/* Portrait Tablet */
@media all and (max-width: 900px) {
  #mainCont {
    #leftCont {
      width: 100%;
      .container {
        margin: 7px 0 15px 0;
      }
    }
    #rightCont {
      display: none;
    }
  }
  div#footer {
    margin-top: 20px;
  }
}

@media all and (max-width: 700px) {
  div#topCont .inner .search_container {
    display: none;
  }
}

/* Smart phone */
@media all and (max-width: 480px) {
  div#leftCont {
    width: 100%;
    .container {
      margin: 7px 0 15px 0;
    }
  }
  div#footer {
    font-size: 10px
  }
  .profile_img,
  .statster_year,
  .album_year,
  .artist,
  .format,
  .love,
  .external_link,
  .social_media {
    display: none !important;
  }
  .profile_text  {
    margin-right: 5px !important;
  }
  div#leftCont div#leftContInner {
    display: none;
  }
  div#leftCont div#leftContOuter {
    margin-left: 0 !important;
  }
  div.container {
    margin: 7px 5px 15px 5px;
  }
  img.img300 {
    width: 100%;
  }
  div.user_info,
  div.album_info,
  div.artist_info {
    clear: both;
    float: none;
    margin-left: 0;
  }
  img.desktopFormat {
    display: none;
  }
}
