/**
  * Template styles
  */
body {
  background-color: @color-bg-white;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-serif';
  font-size: 11px;
  line-height: 1.2;
}
div.container {
  font-size: 13px;
}

/** 
  * Heading styles
  */
h1 {
  color: @color-gray-dark;
  font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 20px 0 20px 0;
  div.desc {
    font-size: 14px;
  }
}
h2 {
  color: @color-gray-dark;
  font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  letter-spacing: -0.05em;
  line-height: 24px;
  margin: 15px 0 15px 0;
}
h3 {
  color: @color-gray-dark;
  font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0 10px 0;
  &.album_love,
  &.artist_fan {
    color: @color-gray-dark;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    width: 100%;
  }
}

/**
  * Text styles
  */
.updated,
.count,
.location,
.metainfo,
.datetime {
  color: @color-gray-medium;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.updated {
  color: @color-gray-medium;
  font-size: 11px;
  font-weight: 300;
  text-align: right;
}
.not_available {
  color: @transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.listening_date {
  color: @color-gray-medium;
}
.number {
  font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
  font-weight: 400;
  letter-spacing: 0.05em;
  word-spacing: -0.4em;
}
.settings,
.more {
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 16px;
  margin: 10px 5px;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  a {
    color: @color-gray-mid;
    &:hover {
      color: @color-black;
    }
    &:visited {
      color: @color-gray-mid;
    }
    &.unactive {
      font-weight: 300;
    }
  }
}
.empty_data_container {
  color: @color-black;
  font-size: 13px;
  font-weight: 300;
}
.settings {
  font-weight: 600;
  a {
    font-weight: 700;
  }
}
h3 {
  color: @color-black;
  font-size: 20px;
}
p {
  color: @color-black;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

/** Artist album and user page infos */
.like_toggle {
  cursor: pointer;
  float: right;
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  left: 9px;
  position: relative;
  top: 9px;
  &.love_add {
    &:hover {
      color: @color-red;
      &:after {
        content: '\f004';
        font-weight: 900;
      }
    }
    &:after {
      content: '\f004';
    }
  }
  &.love_del {
    color: @color-red;
    &:hover {
      &:after {
        content: '\f004';
        font-weight: 500;
      }
    }
    &:after {
      content: '\f004';
      font-weight: 900;
    }
  }
  &.fan_add {
    &:hover {
      color: @color-yellow;
      &:after {
        content: '\f005';
        font-weight: 900;
      }
    }
    &:after {
      content: '\f005';
    }
  }
  &.fan_del {
    color: @color-yellow;
    &:hover {
      &:after {
        font-weight: 500;
        content: '\f005';
      }
    }
    &:after {
      content: '\f005';
      font-weight: 900;
    }
  }
  .like_msg {
    color: @color-gray-dark;
    display: inline-block;
    font-size: 10px;
    opacity: 0.7;
    padding-left: 26px;
    position: absolute;
    top: 2px;
    width: 130px;
  }
}
.quick_add_listening {
  ul {
    text-transform: none;
    li {
      .icon {
        margin-right: 5px;
      }
    }
  }
  span {
    color: @color-black;
    cursor: pointer;
    float: right;
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    left: 9px;
    margin-right: 5px;
    position: relative;
    text-transform: none;
    top: 9px;
  }
}
#artistBio p.content {
  display: none;
}

/**
  * User profile similarity
  */
.similarity_info {
  background-color: @color-white;
  padding-bottom: 30px;
  .simililarity_image {
    position: relative;
    svg {
      height: 54px;
      left: 0;
      position: absolute;
      top: 0;
      width: 54px;
      path {
        stroke: rgba(182, 192, 191, 0.5);
      }
      .similarity_path {
        animation: progress 3s ease-out forwards;
        stroke: @color-accent;
      }
      @keyframes progress {
        0% {
          stroke-dasharray: 0 100;
        }
      }
    }
    .user_similarity_img {
      .border-radius(20px);
      background-color: @color-white;
      border: 2px solid @color-white;
      display: inline-block;
      float: left;
      left: 5px;
      position: relative;
      top: 5px;
      &:after {
        .border-radius(20px);
      }
    }
  }
  .similarity_text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 70px;
    padding-top: 4px;
    a,
    .text {
      font-weight: 400;
    }
  }
}

/** Tag styles */
#artists,
#tags {
  padding-bottom: 10px;
  .tag {
    display: inline-block;
    font-size: 0;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    &.addtags,
    &.genre,
    &.nationality,
    &.keyword {
      > a {
        background-color: #333;
        display: inline-block;
        font-size: 10px;
        margin-bottom: 2px;
        padding: 4px;
        &:hover {
          background-color: #000;
        }
        &.hidden {
          display: none;
        }
      }
      &:hover {
        a {
          display: inline-block;
        }
      }
    }
    &.nationality {
      position: relative;
      top: 2px;
      > a {
        background-color: @transparent;
        &.remove {
          position: relative;
          top: -2px;
        }
      }
    }
    a, 
    a:visited {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


/**
  * Anchor styles
  */
a {
  color: @color-gray-dark;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: @color-gray-dark;
    text-decoration: underline;
  }
  &:visited {
    color: @color-gray-dark;
    text-decoration: none;
    &:hover {
      color: @color-gray-dark;
    }
  }
}

/**
  * Form styles
  */
.autocomplete_container {
  position: relative;
}
input,
textarea {
  box-sizing: border-box;
  &.text,
  &[type="password"],
  &[type="text"] {
    background-color: @color-gray-soft;
    border-radius: 3px;
    border: 1px solid @color-gray-medium;
    color: @color-black-alter;
    font-size: 14px;
    margin: 0;
    padding: 6px 4px 6px 8px;
    width: 100%;
    &:active,
    &:focus {
      background-color: @color-bg-white-alter;
      color: @color-gray-dark;
    }
  }
  &.text {
    height: 120px;
  }
  &[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-serif';
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 6px 14px;
    text-align: center;
    &:focus,
    &:hover {
      background-color: #666;
      color: #fff;
    }
  }
  & + .lds-ring {
    color: @color-black;
    display: none;
    height: 16px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    div {
      left: -5px;
      top: -2px;
    }
  }
  &.working {
    padding-right: 30px;
    & + .lds-ring {
      display: inline-block;
    }
  }
}
input,
textarea,
button {
  outline: none;
}
fieldset {
  margin-bottom: 20px;
  legend {
    color: @color-black;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: 15px 0 0 0;
  }
}
.input_container {
  margin: 10px 0 5px 0;
  .label {
    color: @color-black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  label {
    color: @color-black;
  }
  .checkbox_container {
    line-height: 20px;
  }
}

/** Add listening form */
form#addListeningForm {
  input {
    &[type="text"] {
      font-size: 20px;
    }
    &[type="submit"] {
      float: right;
      margin: 10px 0 15px 0;
    }
    &#addListeningDate {
      background-color: @color-bg-white;
      border: 0;
      color: @color-black;
      cursor: pointer;
      font-size: 14px;
      padding: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/** Edit profile form */

/** Register form */
form#registerForm {
  position: absolute;
  width: 300px;
  input {
    box-sizing: border-box;
    margin: 5px 0;
    width: 100%;
  }
}
/** Login form */
form#loginForm input[type="password"],
form#loginForm input[type="text"] {
  background-color: @color-white;
  border-radius: 2px;
  color: @color-black;
  font-size: 14px;
  padding: 4px 4px 4px 4px;
  width: 70%;
}
/* Search form */
.search_container {
  vertical-align: top;
  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
  }
  &:hover {
    &::placeholder {
      color: rgba(255, 255, 255, 1);
      transition-duration: 0.3s;
    }
  }
  .search_form input {
    background-color: @transparent;
    border: 0;
    color: @color-black-alter;
    font-size: 16px;
    font-weight: 300;
    padding: 4px 0 4px 0;
    width: 250px;
    &:focus {
      background-color: @transparent;
      color: #fff;
      &::placeholder {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
      }
    }
  }
  .search_submit {
    background-color: @transparent;
    border: 0;
    cursor: pointer;
    height: 28px;
    width: 30px;
    &:before {
      color: @color-gray-light;
      content: '\f002';
      font-family: 'Font Awesome 5 Free';
      font-size: 16px;
      font-weight: 900;
      left: 0;
      position: relative;
      top: 2px;
    }
    &:disabled {
      cursor: default;
    }
  }
  &.full {
    position: relative;
    .search_form input {
      padding: 8px 8px 8px 8px;
      background-color: @color-gray-soft;
      width: 100%;
      &:focus {
        background-color: @color-bg-white-alter;
        color: @color-black;
      }
      & + .lds-ring {
        right: 45px;
        top: 15px;
      }
    }
    .search_submit {
      height: 30px;
      position: absolute;
      right: 5px;
      top: 1px;
      width: 35px;
      &:before {
        color: @color-gray-mid;
        font-size: 20px;
      }
      &:hover {
        &:before {
          color: @color-black;
        }
      }
    }
  }
}

/** Admin forms */
form#transferAlbumDataForm,
form#deleteArtistForm,
form#deleteAlbumForm,
form#addArtistForm,
form#addGenreForm,
form#addKeywordForm {
  input {
    &[type="submit"] {
      float: right;
      margin: 10px 0 15px 0;
    }
  }
}

/**
  * Table styles
  */ 
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  width: 100%;
}
td {
  margin: 0;
  padding: 0;
}
th {
  text-align: left;
}
/** Music Table */
table.music_table {
  border-collapse: collapse;
  border: 0;
  tbody {
    tr {
      border-bottom: 1px solid @color-gray-soft;
      border-top: 1px solid @color-gray-soft;
      height: 32px;
      td {
        vertical-align: middle;
        &.icon {
          padding: 0 5px;
          text-align: center;
          width: 26px;
        }
        &.datetime {
          padding: 0 5px;
          text-align: right;
          white-space: nowrap;
          width: 100%;
        }
        &.title {
          color: @color-black;
          padding: 0 5px;
          width: 100%;
          .spotify_link {
            text-decoration: none;
            .spotify_container {
              &:after {
                color: @color-gray-mid;
                content: '\f144';
                font-family: 'Font Awesome 5 Free';
                font-size: 16px;
                font-weight: 900;
                margin-top: 1px;
                position: relative;
                top: 1px;
              }
              &:hover:after {
                color: @color-black;
              }
            }
          }
          .album_year {
            color: @color-gray-medium;
            font-size: 11px;
          }
          .confirmation,
          .delete {
            display: none;
             .fa {
              color: @color-gray-medium;
              display: inline-block;
              font-size: 15px;
              margin-left: 5px;
              position: relative;
              top: 3px;
              &:hover {
                .opacity(1);
                color: @color-black;
              }
            }
          }
          .confirmation {
            font-size: 10px;
            text-align: left;
          }
        }
        &.user_img {
          .user_img {
            float: right;
          }
        }
        .now_playing {
          background-image: url('/media/img/icons/eq_icon.gif');
          background-position: left center;
          background-repeat: no-repeat;
          padding-left: 17px;
        }
        .love_icon {
          color: @color-red;
          font-family: 'Font Awesome 5 Free';
          font-size: 14px;
          &:after {
            content: '\f004';
            font-weight: 900;
          }
        }
      }
      &:nth-child(2n) {
        background-color: @color-bg-white-alter;
      }
      &:nth-child(2n+1) {
        background-color: @transparent;
      }
      &:hover {
        span.delete {
          display: inline;
          position: absolute;
          img {
            .opacity(0.3);
            height: 12px;
            margin-left: 5px;
            vertical-align: -10%;
            width: 12px;
            &:hover {
              .opacity(1);
            }
          }
        }
      }
      &.just_added {
        background-color: @color-yellow-alt;
        td.title {
          color: #000;
          .spotify_link {

            .spotify_container {
              &:after {
                color: #000;
              }
              &:hover:after {
                color: @color-gray-light;
              }
            }
          }
        }
        a {
          color: #000;
          .album_year {
            color: #333;
            font-size: 11px;
          }
        }
        .datetime {
          color: #000;
        }
        td.user_img,
        td.album_img {
          width: 64px;
        }
      }
      &.just_added_rest {
        a {
          color: @color-black;
          &:visited {
            color: @color-black;
          }
        }
        td.user_img,
        td.album_img {
          width: 32px;
        }
        td.title {
          position: relative;
          span.title,
          span.delete,
          div.confirmation,
          a.spotify_link {
            left: -32px;
            position: relative;
          }
          line-height: 14px;
        }
        td.datetime {
          > span {
            position: relative;
            right: -32px;
          }
        }
      }
    }
  } 
}

/** sideTable */
table.side_table {
  tr {
    td {
      padding: 2px 0; 
      vertical-align: middle;
      &.img32 {
        width: 32px;
        .album_img,
        .user_img {
          width: 32px;
        }
        .artist_img,
        .user_img {
          .border-radius(16px);
          &:after {
            .border-radius(16px);
          }
        }
        &.tag_img {
          color: @color-accent;
          font-size: 24px;
          text-align: center;
        }
      }
      &.img64 {
        width: 64px;
        &.tag_img {
          color: @color-accent;
          font-size: 38px;
          text-align: center;
        }
        .artist_img,
        .user_img {
          .border-radius(32px);
          &:after {
            .border-radius(32px);
          }
        }
      }
      &.rank,
      &.type {
        padding-right: 5px;
        text-align: center;  
        vertical-align: middle;
        .rank {
          background-color: @color-black-alter;
          border-radius: 10px;
          color: @color-white;
          display: inline-block;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          margin-top: 2px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
      }
      &.type {
        font-size: 14px;
      }
      &.title {
        padding-left: 5px;
        width: 100%;
        .spotify_link {
          margin-right: 3px;
          text-decoration: none;
          .spotify_container {
            &:after {
              color: @color-gray-mid;
              content: '\f144';
              font-family: 'Font Awesome 5 Free';
              font-size: 16px;
              font-weight: 900;
              margin-top: 1px;
              position: relative;
              top: 1px;
            }
            &:hover:after {
              color: @color-black;
            }
          }
        }
        .album_year {
          color: @color-gray-medium;
          font-size: 11px;
        }
        .artist_name {
          font-size: 11px;
          line-height: 12px;
        }
      }
      &.calendar {
        font-size: 11px;
        padding-right: 2px;
        width: 30px;
        .month {
          background-color: #000;
          border-bottom: 0px;
          border: 1px solid @color-gray-light;
          color: #fff;
          display: inline-block;
          margin-top: 2px;
          padding-bottom: 1px; 
          text-align: center;
          width: 25px;
        }
        .day {
          background-color: #fff;
          border: 1px solid @color-gray-light;
          display: inline-block;
          line-height: 1.1em;
          padding: 0;
          text-align: center;
          width: 25px;
        }
      }
    }
  }
}
.left_container table.side_table {
  tr {
    td.rank {
      background-color: @color-white;
    }
    &:nth-child(2n) {
      background-color: @color-white-alter;
    }
    &:nth-child(2n+1) {
      background-color: @transparent;
    }
  }
}

table.year_table tr td {
  border-bottom: 1px solid @color-gray-soft;
  padding-top: 5px;
  font-size: 14px;
}
/** genreTable */
table.genre_table tr td {
  border-bottom: 1px solid @color-gray-soft;
  padding-top: 3px;
  vertical-align: bottom;
}

/** barTable */
table.column_table {
  tr {
    td {
      padding: 1px 0 1px 0;
      &.rank {
        padding-right: 4px;
        text-align: right;
        width: 2%;
        .rank {
          background-color: @color-black-alter;
          border-radius: 10px;
          color: @color-white;
          display: inline-block;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          margin-top: 2px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
      }
      &.name {
        padding: 0px 2px 0 5px;
        vertical-align: middle;
        width: 58%;
        .listening_format_type {
          margin-right: 3px;
        }
      }
      &.bar {
        background-color: @transparent;
        padding-right: 1px;
        vertical-align: middle;
        width: 42%;
        div {
          background-color: @color-yellow-alt;
          color: #000;
          padding: 2px 0 2px 3px;
          &.number {
            font-size: 11px;
          }
        }
      }
    }
  }
  &.full {
    margin-top: 20px;
    tr:nth-child(2n) {
      td.name {
        background-color: @color-bg-white-alter;
      }
    }
  }
}

/** shoutTable */
#shoutTotal {
  color: @color-gray-medium;
  float: right;
  font-size: 14px;
}
.left_container {
  table.shout_table {
    tr {
      &:nth-child(2n) {
        background-color: @color-bg-white-alter;
      }
      &:nth-child(2n+1) {
        background-color: @transparent;
      }
    }
  }
}
table.shout_table {
  tr {
    td {
      padding: 10px 0;
      vertical-align: middle;
      &.img {
        vertical-align: top;
        .img64 {
          .border-radius(32px);
          &:after {
            .border-radius(32px);
          }
        }
        .img32 {
          .border-radius(16px);
          &:after {
            .border-radius(16px);
          }
        }
      }
      &.textarea {
        padding-left: 10px;
        width: 100%;
        textarea {
          background-color: @color-white-alter;
          border-radius: 5px;
          border: 1px solid @color-gray-soft;
          box-sizing: border-box;
          color: @color-black-alter;
          font-size: 13px;
          height: 64px;
          padding: 8px 12px;
          resize: vertical;
          width: 100%;
        }
        button {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background-color: #000;
          border: 0;
          color: #fff;
          cursor: pointer;
          float: right;
          font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-serif';
          font-size: 14px;
          letter-spacing: 0.1em;
          margin-top: 10px;
          padding: 6px 14px;
          text-align: center;
          &:focus,
          &:hover {
            background-color: @color-gray-dark;
            border-color: @color-gray-dark;
            color: @color-white;
          }
        }
      }
      &.text {
        color: @color-black;
        padding-left: 10px;
        vertical-align: top;
        width: 100%;
        .shout_text {
          font-weight: 300;
        }
        .confirmation,
        .delete {
          display: none;
          .fa {
            color: @color-gray-medium;
            display: inline-block;
            font-size: 15px;
            margin-left: 5px;
            position: relative;
            top: 1px;
            &:hover {
              .opacity(1);
              color: @color-black;
            }
          }
        }
        .confirmation {
          font-size: 10px;
          text-align: left;
        }
        .metainfo {
          float: right;
          padding: 0 5px;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
    &:hover {
      span.delete {
        display: inline;
        position: absolute;
        img {
          .opacity(0.3);
          height: 12px;
          margin-left: 5px;
          vertical-align: -10%;
          width: 12px;
          &:hover {
            .opacity(1);
          }
        }
      }
    }
  }
}

/**
  * Music wall
  */
ul.music_wall {
  li {
    float: left;
    height: auto;
    max-height: 157px;
    max-width: 157px;
    position: relative;
    width: 100%;
    &:first-child {
      height: auto;
      max-height: 314px;
      max-width: 314px;
      width: 100%;
    }
    &.hover {
      .main a {
        text-decoration: underline;
      }
    }
    .cover {
      border: 0;
      &:after {
        border: 0;
      }
      &.img150,
      &.img300 {
        padding-bottom: 100%;
        height: 100%;
        width: 100%;
      }
    }
    .meta {
      bottom: 10px;
      color: #fff;
      font-size: 12px;
      left: 10px;
      line-height: 18px;
      margin: 0;
      padding-right: 2px;
      position: absolute;
      text-shadow: 0 0 10px rgba(0, 0, 0, .7);
      .title {
        font-size: 11px;
        line-height: 12px;
        &.count {
          color: #ccc;
        }
        &.main {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.01em;
          line-height: 16px;
        }
        a {
          color: #fff;
        }
      }
    }
  }
}

/**
  * List styles
  */
ul {
  &.no_bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &.music_list {
    color: @color-black-alter;
    display: block;
    overflow: hidden;
    width: 100%;
    &.music_list_150 li {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 20px 0;
      overflow: visible;
      vertical-align: top;
      width: 152px;
    }
    &.music_list_124 li {
      display: inline-block;
      margin: 0 0 20px 0;
      overflow: visible;
      vertical-align: top;
      width: 130px;
    }
    &.music_list_64 li {
      display: inline-block;
      margin: 0 9px 0px 0;
      overflow: visible;
      vertical-align: top;
      width: 70px;
    }
    .play_count {
      display: inline-block;
      margin-top: 3px;
    }
    li.hover {
      .main a {
        text-decoration: underline;
      }
    }
  }
  &.user_list {
    &.user_list_150 li {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 3px 0;
      overflow: visible;
      vertical-align: top;
      width: 150px;
    }
  }
  &.album_list,
  &.artist_list {
    font-size: 0;
    margin: 0 0 20px 0;
    li {
      color: @color-black;
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      overflow: visible;
      vertical-align: top;
      &.block {
        margin-top: 20px;
        display: block;
        &:first-child {
          margin-top: 0;
        }
        h3 {
          margin: 0 0 10px 0;
        }
      }
      .meta {
        bottom: 5px;
        color: #fff;
        font-size: 12px;
        left: 5px;
        line-height: 18px;
        margin: 0;
        position: absolute;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
        .title {
          font-size: 11px;
          line-height: 12px;
          &.main {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.01em;
            line-height: 16px;
          }
          a {
            color: #fff;
          }
        }
      }
      .icon {
        height: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
      }
    }
  }
  &.like_list {
    display: inline-block;
    margin-top: 7px;
    li {
      display: inline-block;
      margin: 0;
    }
  }
  &.search_list {
    li {
      &.title {
        margin-top: 30px;
      }
      &.even {
        background-color: @transparent;
      }
      &.odd {
        background-color: @color-white-alter
      }
      &.no_img {
        line-height: 35px;
        height: 35px;
      }
      a:visited,
      a:hover {
        text-decoration: underline;
      }
      i {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
      }
      div {
        vertical-align: middle;
        display: inline-block;
        &.cover {
          margin-right: 5px;
        }
      }
    }
  }
}

/** 
  * Icons / images
  */
.main_container .left_container .container.welcome_container {
  background-image: url('/media/img/og_image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: @color-white;
  position: relative;
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    padding-top: 66.67%;
    width: 100%;
  }
  .content {
    bottom: 0;
    left: 0;
    padding: 20px 20px 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    h1,
    a,
    p {
      color: @color-white;
      text-shadow: 2px 0px 10px @color-black;
    }
    h1 {
      font-size: 30px;
      letter-spacing: 0.02em;
      margin: 0 0 20px 0;
    }
    a,
    p {
      font-size: 17px;
      letter-spacing: 0.02em;
    }
    strong {
      font-weight: 600;
    }
  }
}
img {
  margin: 0;
  padding: 0;
  &:active,
  &.selected {
    outline: none;
  }
  &.icon {
    height: 16px;
    vertical-align: -16%;
    width: 16px;
  }
  &.listening_format {
    .opacity(0.3);
    cursor: pointer;
    height: 64px;
    margin: 8px;
    width: 64px;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      .opacity(1);
    }
  }
}
div.cover {
  background-size: 100%;
  &.img32,
  &.img64 {
    border: 1px solid @color-gray-light;
  }
  &.img124,
  &.img150,
  &.img174,
  &.img300 {
    .box-shadow(3px 3px 4px @color-gray-light);
    border: 1px solid @color-gray-light;
    box-sizing: border-box;
    &.no_overlay {
      .box-shadow(0 0 0 @transparent);
      border: 1px solid @color-gray-light;
      &:hover {
        .box-shadow(3px 3px 4px @color-gray-light);
        border: 1px solid @color-gray-light;
      }
    }
  }
  &.img32 {
    height: 32px;
    width: 32px;
  }
  &.img40 {
    height: 40px;
    width: 40px;
  }
  &.img64 {
    height: 64px;
    width: 64px;
  }
  &.img124 {
    width: 124px;
    &.album_img {
      height: 124px;
    }
    &.artist_img {
      background-size: cover;
      height: 90px;
    }
    &.user_img {
      background-size: cover;
      height: 124px;
    }
  }
  &.img150 {
    width: 150px;
    &.album_img {
      height: 150px;
    }
    &.artist_img {
      background-size: cover;
      height: 110px;
    }
    &.user_img {
      background-size: cover;
      height: 150px;
    }
  }
  &.img174 {
    height: 174px;
    width: 174px;
  }
  &.img300 {
    width: 300px;
    &.album_img {
      height: 300px;
    }
    &.user_img,
    &.artist_img {
      height: 200px;
    }
  }
  &.artist_img {
    background-position: 50% 0%;
    background-size: cover;
  }
  &.album_img {
    background-size: cover;
  }
  &.user_img,
  &.album_img {
    background-position: 50% 50%;
  }
  &.user_img {
    background-origin: padding-box;
  }
  &.img32,
  &.img64,
  &.img124,
  &.img150,
  &.img174,
  &.img300 {
    position: relative;
    &:after {
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  &.img32,
  &.img64,
  &.img150,
  &.img174,
  &.img300 {
    &:after {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 100%);
    }
    &.no_overlay {
      &:after {
        background-image: none;
      }
      &:hover:after {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 100%);
        opacity: 1;
      }
    }
  }
  &.img124 {
    &:after {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.95) 100%);
    }
  }
  &.img150,
  &.img174,
  &.img300 {
    &:after {
      transition: all 1s;
    }
    &.hover,
    &:hover {
      text-shadow: 0 0 5px #000, 0 0 4px #000, 0 0 3px #000, 0 0 2px #000, 0 0 1px #000;
      &:after {
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
  }
  &.no_cover {
    border: 0 !important;
    &:after {
      background-image: none !important;
    }
  }
  .album_year a,
  >a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    &.album_year {
      .user-select(none);
      bottom: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      height: auto;
      letter-spacing: 0.2em;
      padding: 4px 6px;
      right: 0;
      text-shadow: 1px 1px 1px #000;
      width: auto;
      &:hover {
        text-decoration: none;
        color: @color-gray-light;
      }
    }
  }
  .rank {
    bottom: 20px;
    color: @color-gray-light;
    display: block;
    font-size: 14px;
    padding: 4px 6px;
    position: absolute;
    right: 0;
    z-index: 3;
  }
  .meta {
    bottom: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    left: 7px;
    letter-spacing: 0.01em;
    padding-right: 5px;
    position: absolute;
    z-index: 4;
    a {
      color: #fff;
    }
    .main {
      font-size: 14px;
    }
    // &.hover {
    //   .main a {
    //     text-decoration: underline;
    //   }
    // }
  }
}

span.divider {
  border-left: 1px solid @color-gray-dark;
  border-right: 1px solid @color-gray-mid;
  margin: 0 12px 0 5px;
  padding-bottom: 5px;
  padding-top: 2px;
}
div.cover_shadow {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.95) 100%);
  height: 300px;
  position: absolute;
  width: 300px;
}

/* Fa styles */
.user_listening,
h1,
h2 {
  .quick_add_listening,
  .func_container {
    .user-select(none);
    color: @color-gray-dark;
    cursor: pointer;
    float: right;
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-serif';
    font-size: 13px;
    letter-spacing: 0;
    position: relative;
    &:hover {
      color: @color-gray-medium;
    }
    .fa-refresh {
      &:hover {
        color: @color-black;
      }
    }
    .value {
      &:hover {
        color: @color-black;
      }
      &:after {
        content: '\f0d7';
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-size: 20px;
        font-weight: 900;
        line-height: inherit;
        padding-left: 5px;
        position: relative;
        top: -1px;
        vertical-align: middle;
      }
      &.active:after {
        content: '\f0d8';
      }
    }
    ul.subnav {
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #333;
      color: #000;
      display: none;
      float: left;
      list-style: none;
      margin: 0; 
      padding: 0;
      position: absolute;
      right: -7px;
      top: 38px;
      width: auto;
      z-index: 100;
      &:before {
        background-image: url('/media/img/dropdown_arrow.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 36px 18px;
        content: '';
        height: 18px;
        position: absolute;
        right: 0;
        top: -18px;
        width: 36px;
      }
      li {
        box-sizing: border-box;
        clear: both;
        float: left;
        font-size: 12px;
        line-height: 24px;
        margin: 0;
        padding: 3px 13px 3px 13px;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;
        &:first-child {
          margin-top: 4px;
        }
        &:last-child {
          margin-bottom: 4px;
        }
        &:hover {
          background-color: #eee;
          color: #000;
        }
      }
    }
  }
  svg {
    bottom: -3px;
    float: right;
    position: relative;
    vertical-align: bottom;
    &.peity {
      polyline {
        stroke: @color-yellow-alt;
      }
    }
  }
}
.fa-star {
  color: @color-yellow;
}
.fa-heart {
  color: @color-red;
}


/**
 * Date picker overrides 
 */
.date-picker-wrapper {
  border: 0;
  box-shadow: 0 0 0 @transparent;
  margin: 5px 0 0 27px;
  padding: 0;
  &.no-shortcuts,
  &.no-topbar {
    padding: 0;
  }
  &.single-date {
    margin: 5px 0 0 0;
    .week-name {
      display: none;
    }
  }
  .month-wrapper {
    border-radius: 0;
    padding: 0;
    .gap {
      margin: 0 10px 0;
      top: 0;
    }
    table {
      thead {
        .caption {
          background-color: #fff;
          height: 24px;
          .month-name {
            color: #000;
            font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
            text-transform: capitalize;
          }
          .prev:hover,
          .next:hover {
            background-color: @color-white-alter;
            color: @color-black;
          }
        }
      }
      thead {
        tr.week-name {
          font-size: 9px;
        }
      }
      tbody {
        border-bottom: 0;
        border-top: 0;
        tr {
          .week-number {
            font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
            font-size: 9px;
            &.week-number-selected {
              color: @color-black;
              font-weight: 700;
            }
          }
          .day {
            font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', 'Sans-serif';
            padding: 4px 0;
            &.real-today.toMonth {
              background-color: #fff;
              color: #000;
              font-weight: 700;
              &.hovering {
                background-color: #ccc;
                color: #fff;
              }
            }
            &.toMonth.hovering,
            &.checked {
              background-color: #ccc;
            }
            &.first-date-selected,
            &.last-date-selected {
              background-color: #000 !important;
              color: #fff !important;
            }
          }
        }
      }
    }
  }
  .footer {
    display: none;
  }
}

/** 
  * Other
  */
hr {
  .opacity(0.3);
  border-bottom: 1px dotted @color-gray-medium;
  border: 0;
  color: @color-gray-medium;
  height: 1px;
  text-align: left;
  width: 100%;
}
.hidden {
  display: none;
}
.middle {
  vertical-align: middle;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

