@import 'reset.css';
@import 'libs/prefixer.less';
@import 'libs/jquery-ui-1.10.3.custom.min.css';
@import 'libs/chosen.css';
@import 'libs/font-awesome.min.css';
@import 'libs/tooltipster.bundle.min.css';
@import 'libs/tooltipster-sideTip-shadow.min.css';
@import 'jquery.autocomplete.css';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
@import 'http://fonts.googleapis.com/css?family=Poiret+One:400';
@import 'http://fonts.googleapis.com/css?family=Raleway:400';

/**
  * Template styles
  */
body {
  font-family: 'Open Sans', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3;
}
div.container {
  font-size: 13px;
}
#topCont {
  background: rgba(17, 17, 17, 0.6);
  height: 40px;
  left: 0;
  line-height: 40px;
  position: fixed;
  top: 0;
  transition: background 0s;
  width: 100%;
  z-index: 1000;
  &.scrolled {
    background: rgba(17, 17, 17, 1);
    transition: background 0.5s;
  }
  .inner {
    box-sizing: border-box;
    color: #eee;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    margin: auto auto;
    max-width: 950px;
    position: relative;
    vertical-align: middle;
    z-index: 2;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
    .mobile {
      display: none;
    }
    .float_left >.meta {
      color: #999;
      font-family: 'Poiret One', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0.05em;
      padding-left: 2px;
    }
    form, 
    div {
      display: inline-block;
      height: 40px;
      line-height: 40px;
    }
    .top_links {
      color: #fff;
      font-size: 18px;
      margin-right: 40px;
      margin-top: 1px;
      padding: 0;
      vertical-align: top;
      a {
        display: inline-block;
        margin: 0 10px 0px 10px;
        &:hover {
          color: #e9e9e9;
          text-decoration: none;
        }
      }
    }
    .user_container {
      .user-select(none);
      color: #fff;
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      position: relative;
      vertical-align: top;
      white-space: nowrap;
      &:hover {
        color: #ccc;
      }
      .profile_text {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin-right: 70px;
        margin-top: 1px;
        vertical-align: top;
        &:before {
          content:"\f107";
          display: inline-block;
          font-family: 'FontAwesome';
          font-size: 20px;
          height: 40px;
          left: -5px;
          line-height: 40px;
          position: relative;
          top: 1px;
          vertical-align: top;
        }
      }
      .profile_img {
        .border-radius(32px);
        .box-shadow(0 0 8px rgba(0, 0, 0, .8));
        background-repeat: no-repeat;
        display: inline-block;
        height: 64px;
        margin-top: -8px;
        position: absolute;
        right: 0;
        width: 64px;
        z-index: 3;
        &:after {
          .border-radius(32px);
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.95) 100%);
          content: '';
          height: 64px;
          left: 0;
          position: absolute;
          width: 64px;
        }
        img {
          .opacity(0);
        }
      }
      ul.subnav {
        background-color: #111;
        border: 1px solid #111;
        display: none;
        float: left;
        list-style: none;
        margin: 0; 
        padding: 0;
        position: absolute;
        right: -7px;
        top: 38px;
        width: 140px;
        li {
          border-bottom: 1px solid #191919; 
          border-top: 1px solid #252525;
          clear: both;
          line-height: 24px;
          margin: 0;
          padding: 0;
          a {
            float: left;
            font-size: 12px;
            padding: 3px 0 3px 10px;
            text-decoration: none;
            width: 130px;
            &:hover {
              background-color: #222;
            }
          }
        }
      }
    }
  }
}
#headingCont {
  .heading_cont {
    background-position: 50% 30%;
    background-repeat: repeat;
    background-size: cover;
    min-height: 150px;
    padding-top: 37px;
    position: relative;
    width: 100%;
    z-index: 2;
    &:after {
      background-color: rgba(0, 0, 0, 0.05);
      background-image: url('/media/img/artist_cover.png');
      background-size: cover;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    &.main_heading_cont {
      min-height: 100px;
      &:after {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .info h1 {
        .user-select(none);
        font-family: 'Poiret One', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 45px;
        font-weight: normal;
        letter-spacing: 0.05em;
        line-height: 45px;
        margin: auto auto;
        position: relative;
        z-index: 3;
        .stats {
          color: #fff;
          letter-spacing: 0.05em;
          text-shadow: 0px 5px 15px #fff;
        }
        .ter {
          color: #999;
          letter-spacing: 0.05em;
          text-shadow: 0px 5px 15px #999;
        }
        .separator {
          color: #999;
          display: inline-block;
          width: 40px;
        }
        .meta {
          color: #999;
          font-size: 16px;
          line-height: 16px;
          vertical-align: middle;
        }
      }
      .top_music {
        bottom: -25px;
        color: #ccc;
        font-size: 12px;
        line-height: 16px;
        padding-right: 2px;
        position: absolute;
        right: 0;
        a {
          color: #ccc;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .info {
      box-sizing: border-box;
      height: 100%;
      margin: auto auto;
      max-width: 950px;
      padding: 25px 0 0 0;
      position: relative;
      z-index: 3;
      .img174 {
        .clearfix;
        background-color: transparent;
        box-shadow: none;
        margin-right: 18px;
        &:after {
          height: 100%;
          visibility: visible;
        }
        &.user_img,
        &.artist_img {
          background-position: 50% 50%;
          border-radius: 87px;
          border: 2px solid #333;
          &:after {
            background-color: transparent;
            border-radius: 87px;
          }
        }
        .spotify_link {
          text-decoration: none;
          .spotify_container {
            &:after {
              .opacity(0.5);
              border-radius: 34/2px;
              color: #666;
              content: '\f144';
              font-family: 'FontAwesome';
              font-size: 40px;
              left: 4px;
              line-height: 34px;
              position: relative;
              top: 6px;
            }
            &:hover:after {
              .opacity(1);
              background: #000;
              box-shadow: 0px 0px 2px #000;
              color: #fff;
              display: inline-block;
              text-align: center;
              transition-duration: 0.3s;
              width: 34px;
            }
          }
        }
      }
      .top_info {
        padding-bottom: 20px;
        h1,
        h2,
        h3 {
          a {
            color: #fff;
            &:hover {
              color: #ccc;
              text-decoration: none;
            }
          }
        }
        h1 {
          color: #fff;
          font-size: 36px;
          font-weight: 400;
          letter-spacing: normal;
          line-height: 34px;
          margin: 0;
          padding-bottom: 15px;
          .fa-edit {
            font-size: 14px;
          }
          ul {
            display: inline;
          }
        }
        h2 {
          font-size: 20px;
          margin: 0 0 0 0;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 10px;
          .username {
            color: #fff;
          }
          .meta {
            color: #ccc;
          }
        }
        /** Chosen styles */
        .chosen-container {
          color: #000;
          outline: none;
          text-transform: none;
          width: 450px !important;
          .chosen-results {
            li {
              &.second {
                padding-left: 12px;
              }
              &.group-option {
                padding-left: 15px;
              }
              &.highlighted {
                background: #f1f1f1;
                border-left: 5px solid #444;
                color: #000;
                font-size: 13px;
                padding-left: 7px;
                &.group-option {
                  padding-left: 10px;
                }
              }
            }
          }
          &.chosen-container-active {
            .chosen-choices {
              border: 1px solid #aaa;
            }
          }
          .chosen-choices {
            .search-field {
              padding: 5px 20px 6px 4px;
              color: #222;
            }
            .search-choice {
              background: #666;
              border-radius: 0;
              border: 0;
              box-shadow: none;
              color: #fff;
              padding: 4px 20px 5px 4px;
              .search-choice-close {
                top: 5px;
              }
            }
          }
        }
        .submit {
          background-color: transparent;
          border: 0;
          height: 18px;
          left: -32px;
          position: relative;
          width: 20px;
          &:before {
            color: #000;
            content: '\f055';
            cursor: pointer;
            font-family: 'FontAwesome';
            font-size: 20px;
            left: 3px;
            line-height: 20px;
            position: absolute;
            top: 2px;
          }
        }
      }
    }
  }
  .album_meta,
  .artist_meta,
  .month_meta,
  .tag_meta,
  .user_meta,
  .year_meta {
    .clearfix;
    box-sizing: border-box;
    margin: 10px auto 0 auto;
    max-width: 950px;
    padding-left: 5px;
    a {
      &:hover {
        color: #666;
        text-decoration: none;
      }
    }
    .meta {
      float: left;
      padding: 0 30px 10px 0;
      .value {
        color: #222;
        font-size: 20px;
        font-weight: 400;
        a {
          &:hover {
            color: #666;
            text-decoration: none;
          }
        }
      }
      .label {
        color: #222;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &.user_listening {
          border-left: 1px solid #eee;
          padding-left: 30px;
          .user_listenings_img {
            .border-radius(16px);
            display: inline-block;
            &:after {
              .border-radius(16px);
            }
          }
          .user_value {
            line-height: 31px;
            padding-left: 10px;
            vertical-align: 32%;
            .value {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
#mainCont {
  .clearfix;
  background-color: #f9f9f9;
  margin: 20px auto auto auto;
  max-width: 950px;
  &.no_heading {
    margin: 40px auto auto auto;
  }
  .page_links {
    background-color: #fff;
    font-size: 16px;
    padding: 0 0 0 2px;
    a {
      display: inline-block;
      margin: 5px 15px 2px 0;
      &:hover {
        color: #777;
        text-decoration: none;
      }
    }
  }
  #leftCont {
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    padding-bottom: 30px;
    width: 640px;
    .container {
      box-sizing: border-box;
      margin: 15px 10px 15px 0;
      padding: 0 0 0 2px;
    }
    #leftContInner {
      float: left;
      margin-top: -15px;
      width: 150px;
    }
    #leftContOuter {
      color: #222;
      font-size: 22px;
      font-weight: normal;
      letter-spacing: 0.01em;
      margin-left: 150px;
    }
  }
  #rightCont {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 640px;
    padding-bottom: 20px;
    .container {
      margin: 7px 8px 15px 15px;
    }
  }
}
#footer {
  background-color: #111;
  clear: both;
  margin: auto auto;
  padding: 20px 0;
  width: 100%;
  .inner {
    color: #fff;
    margin: auto auto;
    max-width: 950px;
    div {
      padding: 0 10px 0 10px;
      &.social_media {
        padding-right: 10px;
        font-size: 14px;
        a {
          display: inline-block;
          margin: 0 2px;
        }
      }
    }
    a {
      color: #fff;
    }
    .links:hover a {
      color: #aaa;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/** 
  * Heading styles
  */
h1 {
  color: #222;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 20px 0 20px 0;
  div.desc {
    font-size: 14px;
  }
}
h2 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  margin: 15px 0 15px 0;
}
h3 {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0 10px 0;
  &.album_love,
  &.artist_fan {
    color: #222;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    width: 100%;
  }
}

/**
  * Text styles
  */
.updated,
.count,
.location,
.metainfo,
.datetime {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.listening_date {
  color: #999;
}
.number {
  font-family: 'Raleway', georgia;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.settings,
.more {
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 16px;
  margin: 10px 5px;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  a {
    color: #666;
    &:hover {
      color: #000;
    }
    &:visited {
      color: #666;
    }
    &.unactive {
      font-weight: 300;
    }
  }
}
.settings {
  font-weight: 600;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

/** Artist album and user page infos */
.like_toggle {
  cursor: pointer;
  float: right;
  font-family: 'FontAwesome';
  font-size: 16px;
  left: 9px;
  position: relative;
  top: 9px;
  &.love_add {
    &:after {
      content: '\f08a';
    }
  }
  &.love_del {
    &:after {
      content: '\f004';
    }
  }
  &.fan_add {
    &:after {
      content: '\f006';
    }
  }
  &.fan_del {
    &:after {
      content: '\f005';
    }
  }
  .like_msg {
    color: #222;
    display: inline-block;
    font-size: 10px;
    opacity: 0.7;
    padding-left: 26px;
    position: absolute;
    top: 2px;
    width: 130px;
  }
}
#artistBio p.content {
  display: none;
}

/** Tag styles */
#tags {
  padding-bottom: 10px;
  .tag {
    display: inline-block;
    font-size: 0;
    letter-spacing: 0.01em;
    margin-bottom: 3px;
    text-transform: uppercase;
    &.addtags,
    &.genre,
    &.keyword {
      a {
        background-color: #333;
        font-size: 10px;
        padding: 4px;
        &:hover {
          background-color: #555;
        }
      }
    }
    &.nationality {
      position: relative;
      top: 2px;
    }
    a, 
    a:visited { 
      color: #fff;
      &:hover {
        color: #eee;
        text-decoration: none;
      }
    }
  }
}


/**
  * Anchor styles
  */
a {
  color: #222;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #444;
    text-decoration: underline;
  }
  &:visited {
    color: #222;
    text-decoration: none;
    &:hover {
      color: #444;
    }
  }
}

/**
  * Form styles
  */
input,
textarea {
  box-sizing: border-box;
  outline: none;
  &.text,
  &[type="password"],
  &[type="text"] {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 14px;
    margin: 0;
    padding: 6px 4px 6px 8px;
    width: 100%;
    &:active,
    &:focus {
      background-color: #fff;
      color: #222;
    }
  }
  &.text {
    height: 120px;
  }
  &[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #333;
    border: 1px solid #444;
    color: #eee;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 5px 13px;
    text-align: center;
    &:focus,
    &:hover {
      background: #333;
      border-color: #444;
      color: #fff;
    }
  }
  &.working {
    background-color: #fff;
    background-image: url('/media/img/ajax-loader-circle.gif');
    background-position: 99% 50%;
    background-repeat: no-repeat;
  }
}
button {
  outline: none;
}
fieldset {
  margin-bottom: 20px;
  legend {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: 15px 0 0 0;
  }
}
.input_container {
  margin: 10px 0 5px 0;
  .label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .checkbox_container {
    line-height: 20px;
  }
}

/** Add listening form */
form#addListeningForm {
  input {
    &[type="text"] {
      font-size: 20px;
    }
    &[type="submit"] {
      float: right;
      margin: 10px 0 15px 0;
    }
    &#addListeningDate {
      background: 0;
      border: 0;
      color: #000;
      cursor: pointer;
      font-size: 14px;
      padding: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/** Edit profile form */

/** Register form */
form#registerForm {
  position: absolute;
  width: 300px;
  input {
    box-sizing: border-box;
    margin: 5px 0;
    width: 100%;
  }
}
/** Login form */
form#loginForm input[type="password"],
form#loginForm input[type="text"] {
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  padding: 4px 4px 4px 4px;
  width: 70%;
}
.search_container {
  vertical-align: top;
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  ::-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
  }
  &:hover {
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-ms-input-placeholder {
      color: rgba(255, 255, 255, 1);
      transition-duration: 0.3s;
    }
  }
  .search_form input {
    background-color: transparent;
    border: 0;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 300;
    padding: 2px 0 4px 14px;
    width: 250px;
    &:focus {
      background-color: transparent;
      color: #fff;
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
      }

    }
  }
  .search_submit {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
    &:before {
      color: #ccc;
      content: '\f002';
      font-family: 'FontAwesome';
      font-size: 16px;
      left: 0;
      position: relative;
      top: 2px;
    }
    &:disabled {
      cursor: default;
    }
  }
}

/**
  * Table styles
  */ 
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  width: 100%;
}
td {
  margin: 0;
  padding: 0;
}
th {
  text-align: left;
}
/** Music Table */
table.music_table {
  border-collapse: collapse;
  border: 0;
  tbody {
    tr {
      border-bottom: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9;
      height: 32px;
      td {
        vertical-align: middle;
        &.icon {
          width: 26px;
          text-align: center;
          padding: 0 5px;
        }
        &.datetime {
          padding: 0 5px;
          text-align: right;
          white-space: nowrap;
          width: 100%;
        }
        &.title {
          padding: 0 5px;
          width: 100%;
          .spotify_link {
            text-decoration: none;
            .spotify_container {
              &:after {
                color: #666;
                content: '\f144';
                font-family: 'FontAwesome';
                font-size: 16px;
                margin-top: 1px;
                position: relative;
                top: 1px;
              }
              &:hover:after {
                color: #000;
              }
            }
          }
          .album_year {
            color: #999;
            font-size: 11px;
          }
          .confirmation,
          .delete {
            display: none;
             .fa {
              color: #999;
              display: inline-block;
              font-size: 15px;
              margin-left: 5px;
              position: relative;
              top: 3px;
              &:hover {
                .opacity(1);
                color: #000;
              }
            }
          }
          .confirmation {
            font-size: 10px;
            text-align: left;
          }
        }
        &.user_img {
          .user_img {
            float: right;
          }
        }
        .now_playing {
          background-image: url('/media/img/icons/eq_icon.gif');
          background-position: left center;
          background-repeat: no-repeat;
          padding-left: 17px;
        }
        .love_icon {
          font-family: 'FontAwesome';
          font-size: 14px;
          &:after {
            content: '\f004';
          }
        }
      }
      &:nth-child(2n) {
        background-color: rgba(245, 245, 245, 0.8);
      }
      &:nth-child(2n+1) {
        background-color: #fff;
      }
      &:hover {
        span.delete {
          display: inline;
          position: absolute;
          img {
            .opacity(0.3);
            height: 12px;
            margin-left: 5px;
            vertical-align: -10%;
            width: 12px;
            &:hover {
              .opacity(1);
            }
          }
        }
      }
      &.just_added {
        background-color: #ff8;
        td.user_img,
        td.album_img {
          width: 64px;
        }
      }
      &.just_added_rest {
        td.user_img,
        td.album_img {
          width: 32px;
        }
        td.title {
            position: relative;
          span.title,
          span.delete,
          div.confirmation,
          a.spotify_link {
            left: -32px;
            position: relative;
          }
          line-height: 14px;
        }
        td.datetime {
          > span {
            position: relative;
            right: -32px;
          }
        }
      }
    }
  } 
  thead {
    tr {
      td {
        color: #999;
        font-size: 11px;
        font-weight: 300;
        text-align: right;
      }
    }
  }
}

/** sideTable */
table.side_table {
  tr {
    td {
      padding: 2px 0; 
      vertical-align: middle;
      &.img32 {
        width: 32px;
        .user_img,
        .artist_img,
        .album_img {
          width: 32px;
          .border-radius(16px);
          &:after {
            .border-radius(16px);
          }
        }
        &.tag_img {
          font-size: 28px;
          text-align: center;
        }
      }
      &.img64 {
        width: 64px;
        &.tag_img {
          text-align: center;
          font-size: 38px;
        }
      }
      &.rank,
      &.type {
        text-align: center;  
        vertical-align: middle;
        width: 30px;
        .rank {
          background: #444;
          border-radius: 10px;
          color: #fff;
          display: inline-block;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          margin-top: 2px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
      }
      &.type {
        font-size: 14px;
      }
      &.title {
        padding-left: 5px;
        width: 100%;
        .spotify_link {
          margin-right: 3px;
          text-decoration: none;
          .spotify_container {
            &:after {
              color: #666;
              content: '\f144';
              font-family: 'FontAwesome';
              font-size: 16px;
              margin-top: 1px;
              position: relative;
              top: 1px;
            }
            &:hover:after {
              color: #000;
            }
          }
        }
        .album_year {
          color: #999;
          font-size: 11px;
        }
        .artist_name {
          font-size: 11px;
          line-height: 12px;
        }
      }
      &.calendar {
        font-size: 11px;
        padding-right: 2px;
        width: 30px;
        .month {
          background-color: #444;
          border-bottom: 0px;
          border: 1px solid #CCC;
          color: #fff;
          display: inline-block;
          margin-top: 2px;
          padding-bottom: 1px; 
          text-align: center;
          width: 25px;
        }
        .day {
          background-color: #fff;
          border: 1px solid #ccc;
          display: inline-block;
          line-height: 1.1em;
          padding: 0;
          text-align: center;
          width: 25px;
        }
      }
    }
  }
}
#leftCont table.side_table {
  tr {
    td.rank {
      background-color: #fff;
    }
    &:nth-child(2n) {
      background-color: rgba(245, 245, 245, 0.8);
    }
    &:nth-child(2n+1) {
      background-color: transparent;
    }
  }
}

table.year_table tr td {
  border-bottom: 1px solid #e9e9e9;
  padding-top: 5px;
  font-size: 14px;
}
/** genreTable */
table.genre_table tr td {
  border-bottom: 1px solid #e9e9e9;
  padding-top: 3px;
  vertical-align: bottom;
}

/** barTable */
table.column_table {
  tr {
    td {
      padding: 1px 0 1px 0;
      &.rank {
        padding-right: 4px;
        text-align: right;
        width: 2%;
        .rank {
          background: #444;
          border-radius: 10px;
          color: #fff;
          display: inline-block;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          margin-top: 2px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
      }
      &.name {
        padding-left: 5px;
        vertical-align: middle;
        width: 58%;
      }
      &.bar {
        background-color: transparent;
        padding-right: 1px;
        vertical-align: middle;
        width: 42%;
        div {
          background-color: #999;
          color: #fff;
          padding: 2px 0 2px 3px
        }
      }
    }
  }
  &.full {
    margin-top: 20px;
    tr:nth-child(2n) {
      td.name {
        background-color: rgba(245, 245, 245, 0.8);
      }
    }
  }
}

/** shoutTable */
#shoutTotal {
  color: #999;
  float: right;
  font-size: 14px;
}
#leftCont {
  table.shout_table {
    tr {
      &:nth-child(2n) {
        background-color: rgba(245, 245, 245, 0.8);
      }
      &:nth-child(2n+1) {
        background-color: transparent;
      }
    }
  }
}
table.shout_table {
  tr {
    td {
      padding: 10px 0;
      vertical-align: middle;
      &.img {
        vertical-align: top;
        .img64 {
          .border-radius(32px);
          &:after {
            .border-radius(32px);
          }
        }
        .img32 {
          .border-radius(16px);
          &:after {
            .border-radius(16px);
          }
        }
      }
      &.textarea {
        padding-left: 10px;
        width: 100%;
        textarea {
          border-radius: 5px;
          border: 1px solid #ebebeb;
          box-sizing: border-box;
          font-size: 13px;
          height: 64px;
          padding: 8px 12px;
          resize: vertical;
          width: 100%;
        }
        button {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background: #333;
          border: 1px solid #444;
          color: #eee;
          cursor: pointer;
          float: right;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 14px;
          letter-spacing: .1em;
          margin: 10px 0 15px 0;
          padding: 5px 13px;
          text-align: center;
          &:focus,
          &:hover {
            background: #333;
            border-color: #444;
            color: #fff;
          }
        }
      }
      &.text {
        padding-left: 10px;
        vertical-align: top;
        width: 100%;
        .shout_text {
          font-weight: 300;
        }
        .confirmation,
        .delete {
          display: none;
          .fa {
            color: #999;
            display: inline-block;
            font-size: 15px;
            margin-left: 5px;
            position: relative;
            top: 1px;
            &:hover {
              .opacity(1);
              color: #000;
            }
          }
        }
        .confirmation {
          font-size: 10px;
          text-align: left;
        }
        .metainfo {
          float: right;
          padding: 0 5px;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
    &:hover {
      span.delete {
        display: inline;
        position: absolute;
        img {
          .opacity(0.3);
          height: 12px;
          margin-left: 5px;
          vertical-align: -10%;
          width: 12px;
          &:hover {
            .opacity(1);
          }
        }
      }
    }
  }
}

/**
  * Music wall
  */
ul.music_wall {
  li {
    float: left;
    height: auto;
    max-height: 157px;
    max-width: 157px;
    position: relative;
    width: 100%;
    &:first-child {
      height: auto;
      max-height: 314px;
      max-width: 314px;
      width: 100%;
    }
    &.hover {
      .main a {
        text-decoration: underline;
      }
    }
    .cover {
      border: 0;
      &:after {
        border: 0;
      }
      &.img150,
      &.img300 {
        padding-bottom: 100%;
        height: 100%;
        width: 100%;
      }
    }
    .meta {
      bottom: 15px;
      color: #fff;
      font-size: 12px;
      left: 15px;
      line-height: 18px;
      margin: 0;
      position: absolute;
      right: 15px;
      text-shadow: 0 0 10px rgba(0, 0, 0, .7);
      .title {
        font-size: 11px;
        line-height: 12px;
        &.count {
          color: #ddd;
        }
        &.main {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.01em;
          line-height: 16px;
        }
        a {
          color: #fff;
        }
      }
    }
  }
}

/**
  * List styles
  */
ul {
  &.no_bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &.music_list {
    display: block;
    overflow: hidden;
    width: 100%;
    &.music_list_150 li {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 20px 0;
      overflow: visible;
      vertical-align: top;
      width: 152px;
    }
    &.music_list_124 li {
      display: inline-block;
      margin: 0 0 20px 0;
      overflow: visible;
      vertical-align: top;
      width: 130px;
    }
    &.music_list_64 li {
      display: inline-block;
      margin: 0 9px 0px 0;
      overflow: visible;
      vertical-align: top;
      width: 70px;
    }
    .play_count {
      display: inline-block;
      margin-top: 3px;
    }
    li.hover {
      .main a {
        text-decoration: underline;
      }
    }
  }
  &.user_list {
    &.user_list_150 li {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 3px 0;
      overflow: visible;
      vertical-align: top;
      width: 152px;
    }
  }
  &.like_list {
    margin-top: 7px;
    li {
      display: inline-block;
      margin: 0;
    }
  }
}

/** 
  * Icons / images
  */
#mainCont #leftCont .container.welcome_container {
  background-image: url(../img/og_image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 66.67%;
  }
  .content {
    bottom: 0;
    left: 0;
    padding: 20px 20px 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    h1,
    a,
    p {
      color: #fff;
      text-shadow: 2px 0px 10px #000;
    }
    h1 {
      font-size: 30px;
      letter-spacing: 0.02em;
      margin: 0 0 20px 0;
    }
    a,
    p {
      font-size: 17px;
      letter-spacing: 0.02em;
    }
  }
}
img {
  margin: 0;
  padding: 0;
  &:active,
  &.selected {
    outline: none;
  }
  &.icon {
    height: 16px;
    vertical-align: -25%;
    width: 16px;
  }
  &.listening_format {
    .opacity(0.3);
    cursor: pointer;
    height: 64px;
    margin: 8px;
    width: 64px;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      .opacity(1);
    }
  }
}
div.cover {
  background-size: 100%;
  &.img32,
  &.img64 {
    border: 1px solid #444;
  }
  &.img124,
  &.img150,
  &.img174,
  &.img300 {
    .box-shadow(3px 3px 4px #ddd);
    border: 1px solid #232323;
    box-sizing: border-box;
  }
  &.img32 {
    height: 32px;
    width: 32px;
  }
  &.img40 {
    height: 40px;
    width: 40px;
  }
  &.img64 {
    height: 64px;
    width: 64px;
  }
  &.img124 {
    width: 124px;
    &.album_img {
      height: 124px;
    }
    &.artist_img {
      background-size: cover;
      height: 90px;
    }
    &.user_img {
      background-size: cover;
      height: 124px;
    }
  }
  &.img150 {
    width: 150px;
    &.album_img {
      height: 150px;
    }
    &.artist_img {
      background-size: cover;
      height: 110px;
    }
    &.user_img {
      background-size: cover;
      height: 150px;
    }
  }
  &.img174 {
    height: 174px;
    width: 174px;
  }
  &.img300 {
    width: 300px;
    &.album_img {
      height: 300px;
    }
    &.user_img,
    &.artist_img {
      height: 200px;
    }
  }
  &.artist_img {
    background-position: 50% 0%;
    background-size: cover;
  }
  &.album_img {
    background-size: cover;
  }
  &.user_img,
  &.album_img {
    background-position: 50% 50%;
  }
  &.user_img {
    background-origin: padding-box;
  }
  &.img32,
  &.img64,
  &.img124,
  &.img150,
  &.img174,
  &.img300 {
    position: relative;
    &:after {
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  &.img32,
  &.img64,
  &.img150,
  &.img174,
  &.img300 {
    &:after {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 100%);
    }
  }
  &.img124 {
    &:after {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.95) 100%);
    }
  }
  &.img150,
  &.img174,
  &.img300 {
    &:after {
      transition: all 1s;
    }
    &.hover,
    &:hover {
      &:after {
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
  }
  &.no_cover {
    border: 0 !important;
    &:after {
      background-image: none !important;
    }
  }
  .album_year a,
  >a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    &.album_year {
      .user-select(none);
      bottom: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      height: auto;
      letter-spacing: 0.2em;
      padding: 4px 6px;
      right: 0;
      text-shadow: 1px 1px 1px #000;
      width: auto;
      &:hover {
        text-decoration: none;
        color: #ccc;
      }
    }
  }
  .meta {
    bottom: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    left: 7px;
    letter-spacing: 0.01em;
    padding-right: 5px;
    position: absolute;
    z-index: 4;
    a {
      color: #fff;
    }
    .main {
      font-size: 14px;
    }
    // &.hover {
    //   .main a {
    //     text-decoration: underline;
    //   }
    // }
  }
}

span.divider {
  border-left: 1px solid #111;
  border-right: 1px solid #555;
  margin: 0 12px 0 5px;
  padding-bottom: 5px;
  padding-top: 2px;
}
div.cover_shadow {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.95) 100%);
  height: 300px;
  position: absolute;
  width: 300px;
}

/* Fa styles */
h1 {
  .func_container {
    margin-top: 8px;
  }
}
h2 {
  .func_container {
    margin-top: 4px;
  }
}
h1,
h2 { 
  .func_container {
    cursor: pointer;
    float: right;
    font-size: 13px;
    .fa-refresh {
      color: #666;
      &:hover {
        color: #000;
      }
    }
  }
}
.fa-heart,
.fa-star {
  color: #666;
}

/** 
  * Other
  */
hr {
  .opacity(0.3);
  border-bottom: 1px dotted #9e9e9e;
  border: 0;
  color: #9e9e9e;
  height: 1px;
  height: 1px;
  text-align: left;
  width: 100%;
}
.hidden {
  display: none;
}
.loader {
  display: inline;
  line-height: 1;
  margin: 15px 0 0 5px;
}
.middle {
  vertical-align: middle;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@import 'responsive.less';