/*
 * Template styles
 */
body {
  background: #FFFFFF url('/media/img/bg.jpg') repeat;
}
div#topCont {
  color: #EEEEEE;
  background: #222222 url('/media/img/background_top_navi.gif') repeat-x center top;
  height: 23px;
  line-height: 23px;
  vertical-align: middle;
  width: 100%;
  font-size: 11px;
  border-bottom: 1px solid #000000;
  position: fixed; left: 0; top: 0;
  z-index: 9999;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}
div#mainCont {
  max-width: 950px;
  margin: auto auto;
  margin-top: 45px;
}
div#leftCont {
  background-color: #FDFDFD;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 600px;
  float: left;
  border: 1px solid #999999;
  border-radius: 10px;
  margin-bottom: 20px;
}
div#leftContInner {
  width: 150px;
  float: left;
  border-right: 1px dotted #CCCCCC;
}
div#leftContOuter {
  width: 450px;
  margin-left: 150px;
}
div#rightCont {
  background-color: transparent;
  margin-left: 600px;
  width: 330px;
}

/* 
 * Heading styles 
 */
h1 {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-shadow: 0 1px 0 #EEEEEE;
}
div#leftCont h1 {
  color: #777777;
}
div#rightCont h1 {
  color: #222222;
}
h2 {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
div#leftCont h2 {
  color: #777777;
}
div#rightCont h2 {
  color: #777777;
}

/*
 * Text styles
 */
div.container {
  margin: 7px 15px 15px 15px;
}
.datetime {
  color: #999999;
  font-size: smaller;
}
.albumYear {
  color: #999999;
  font-size: smaller;
}
.playCount {
  color: #999999;
  font-size: smaller;
  padding-left: 3px;
}
.title {
  padding-left: 3px;
}

/*
 * Anchor styles
 */
a {
  color: #0000EE;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #0000EE;
  text-decoration: none;
}
.albumYear a {
  color: #999999;
}

/*
 * Form styles
 */
input[type="submit"] {
  color: #FFFFFF;
  font-size: 13px;
  padding: 3px 8px 3px 9px;
  font-family: arial;
  font-weight: bold;
  text-shadow: 1px 0 1px #33333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
  background: -moz-linear-gradient(100% 100% 90deg, #666666, #333333);
  background: -o-linear-gradient(100% 100% 90deg, #666666, #333333);
  background: linear-gradient(100% 100% 90deg, #666666, #333333);
  border-color: #CACAD2 #B6B6BD #B6B6BD #CACAD2;
  border-style: solid;
  border-width: 1px;
}
form#addListeningForm input[type="submit"] {
  float: right;
  margin: 10px 0 15px 0;
}
form#addListeningForm input[type="text"] {
  border-radius: 2px;
  border: 1px solid #000000;
  margin: 0 0px 0 3px;
  padding: 3px 4px 3px 4px;
  font-size: 18px;
  width: 98%;
}

/*
 * Table styles
 */ 
table {
  width: 100%;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  margin: 0;
  padding: 0;
}
/* chartTable */
table.chartTable tr {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  height: 32px;
}
table.chartTable tr:nth-child(2n) {
  background-color: #ECECFF;
}
table.chartTable tr:nth-child(2n+1) {
  background-color: transparent;
}
table.chartTable tr:hover {
  background-color: #AFC9D7;
}
table.chartTable tr td.img {
  width: 32px;
}
/* albumTable */
table.albumTable tr {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  height: 64px;
}
table.albumTable tr td {
  vertical-align: top;
}
table.albumTable tr td.img {
  width: 64px;
}
table.albumTable tr:nth-child(2n) {
  background-color: #F5F5F5;
}
table.albumTable tr:nth-child(2n+1) {
  background-color: transparent;
}
/* genreTable */
table.genreTable tr td {
  border-bottom: 1px solid #E8E8E8;
  line-height: 20px;
  vertical-align: bottom;
  padding: 5px 0 0 3px;
}
/* barTable */
table.barTable tr td {
  padding: 1px 0 1px 0;
}
table.barTable td.barChartRank {
  width: 2%;
  text-align: right;
  padding-left: 3px;
  padding-right: 4px;
}
table.barTable td.barChartName {
  width: 48%;
  padding-left: 5px;
}
table.barTable td.barChartBar {
  width: 52%;
  padding-right: 1px;
  background-color: transparent;
}
table.barTable div.chartBar {
  background-image: url('/media/img/charts_right_red.png');
  background-repeat: no-repeat;
  background-position: right;
}
table.barTable div.chartBar span {
  display: block;
  padding: 1px 0 1px 6px;
  background-color: #D71C2F;
  color: #FFFFFF;
  margin-right: 2px;
}

/*
 * List styles
 */
ul {
  width: 100%;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.chartList {
  display: block;
  overflow: hidden;
}
ul.chartList li {
  margin: 0px 9px 20px 0px;
  display: inline-block;
  overflow: visible;
  width: 130px;
  vertical-align: top;
}



/* 
 * Icons / images
 */
img {
  padding: 0px;
  margin: 0px;
}
img.artistImg,
img.albumImg,
img.userImg {
  vertical-align: middle;
}
img.artistImg32,
img.albumImg32,
img.userImg32 {
  width: 32px;
  height: 32px;
  border: 1px solid #232323;
}
img.artistImg64,
img.albumImg64,
img.userImg64 {
  width: 64px;
  height: 64px;
  border: 1px double #232323;
}
img.artistImg124,
img.albumImg124 {
  width: 124px;
  height: 124px;
  border: 1px solid #232323;
  border: 1px solid #E0E0E0;
  margin: 0 0 5px 0;
  -moz-box-shadow: 3px 3px 4px #888888;
  -webkit-box-shadow: 3px 3px 4px #888888;
  box-shadow: 3px 3px 4px #888888;
}
span.loveIcon {
  background-image: url('/media/img/icons/heart.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 0 0;
  margin: 0 2px 0 0;
  vertical-align: 0;
}

/* 
 * Other
 */
hr {
  border: 0;
  color: #9E9E9E;
  background-color: #9E9E9E;
  height: 1px;
  width: 100%;
  text-align: left;
}
.hidden {
  display: none;
}