/*
 * Template styles
 */
body {
  background: #FFF url('/media/img/bg_body.jpg') repeat;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 50px;
}
div#topCont {
  color: #EEE;
  background: #222 url('/media/img/background_top_navi.gif') repeat-x center top;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  width: 100%;
  font-size: 13px;
  border-bottom: 1px solid #000;
  position: fixed; left: 0; top: 0;
  z-index: 9999;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}
div#topContInner {
  max-width: 950px;
  margin: auto auto;
}
div#topContInner form, 
div#topContInner div {
  display: inline;
}
div#topCont img {
  margin-top: -4px;
}
span#userContProfile {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=6);
}
span#userContProfile:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=10);
}
span#userContDropdown {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=6);
}
span#userContDropdown:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=10);
}
div#mainCont {
  max-width: 950px;
  margin: auto auto;
  margin-top: 70px;
}
div#leftCont {
  background: #FFF;
  /*background: #FFF url('/media/img/bg_leftCont.png') repeat*/;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 600px;
  float: left;
  border: 1px solid #999;
  border-radius: 10px;
  margin-bottom: 20px;
}
div#leftContInner {
  width: 150px;
  float: left;
  border-right: 1px dotted #CCC;
}
div#leftContOuter {
  width: 450px;
  margin-left: 150px;
}
div#rightCont {
  background-color: transparent;
  margin-left: 600px;
  width: 330px;
}
div#footer {
  max-width: 950px;
  margin: auto auto;
  position: relative;
  top: -15px;
  clear: both;
  font-size: smaller;
}
div#footer div {
  padding: 0 10px 0 10px;
}
div#footer div.socialMedia {
  padding-right: 355px;
}
/* 
 * Heading styles
 */
h1 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-shadow: 0 1px 0 #EEE;
}
div#topCont h1 {
  margin: 0;
  padding: 2px;
  display: inline-block;
  font-family: "Helvetica";
  letter-spacing: 3px;
  font-size: 20px;
  text-shadow: 1px 0px 5px #CCC;
}
div#leftCont h1 {
  color: #777;
}
div#rightCont h1 {
  color: #222;
}
h2 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
div#leftCont h2 {
  color: #777;
}
div#rightCont h2 {
  color: #777;
}

/*
 * Text styles
 */
div.container {
  margin: 7px 15px 15px 15px;
  letter-spacing: 0;
}
.updated,
.playCount,
.albumYear,
.datetime {
  color: #999;
  font-size: smaller;
}
.listeningDate {
  color: #999;
}
.datetime {
  padding-right: 5px;
}
.playCount {
  padding-left: 3px;
}
div.more {
  margin: 10px 5px;
  float: right;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  padding-right: 20px;
  background-image: url('/media/img/icons/arrow-right.png');
  background-repeat: no-repeat;
  background-position: right top;
}

/*
 * Anchor styles
 */
a {
  color: #00E;
  text-decoration: none;
  cursor: pointer;
}
div#footer a {
  color: #000;
  font-weight: bold;
}
a:hover {
  color: #999;
}
a:visited {
  color: #00E;
  text-decoration: none;
}
div#footer a:hover,
a:visited:hover {
  color: #999;
  text-decoration: none;
}
.albumYear a {
  color: #999;
}
div#topCont a {
  /*font-weight: normal;*/
  color: #FFF;
}
div#topCont h1 a:hover {
  color: #FFF;
}

/*
 * Form styles
 */
input:focus, input:active {
  outline-width: 0;
  outline-color: #FFF;
}
input[type="submit"] {
  color: #FFF;
  font-size: 13px;
  padding: 3px 8px 3px 9px;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
  background: -moz-linear-gradient(100% 100% 90deg, #666, #333);
  background: -o-linear-gradient(100% 100% 90deg, #666, #333);
  background: linear-gradient(100% 100% 90deg, #666, #333);
  border-color: #CACAD2 #B6B6BD #B6B6BD #CACAD2;
  border-style: solid;
  border-width: 1px;
}
input[type="submit"]:focus {
  color: #FF8;
}
form#composeForm input[type="submit"],
form#addListeningForm input[type="submit"] {
  float: right;
  margin: 10px 0 15px 0;
  cursor: pointer;
}
form#addListeningForm input[type="text"] {
  border-radius: 3px;
  margin: 0 0 0 3px;
  padding: 4px 4px 4px 8px;
  font-size: 20px;
  width: 98%;
  background-color: #EEE;
}
form#addListeningForm input[type="text"]:focus {
  background-color: #FF0;
  color: #222;
}
form#addListeningForm div#addListeningDateContainer {
  margin-left: 5px;
}
form#composeForm input[type="text"]:focus {

}
form#composeForm input[type="text"] {
  border-radius: 3px;
  margin: 0 0 0 3px;
  padding: 4px 4px 4px 8px;
  font-size: 20px;
  width: 70%;
  background-color: #EEE; 
}
form#composeForm textarea {
  height: 150px;
  width: 70%;
}
form#registerForm input[type="password"],
form#registerForm input[type="text"] {
  font-size: 14px;
  width: 90%;
  border-radius: 2px;
  background-color: #FFF;
  padding: 4px;
}
form#loginForm div,
form#registerForm div {
  margin-bottom: -6px;
}
form#loginForm input[type="password"],
form#loginForm input[type="text"] {
  font-size: 14px;
  width: 70%;
  border-radius: 2px;
  background-color: #FFF;
  padding: 4px 4px 4px 4px;
}
form#searchForm input {
  font-size: 14px;
  border-radius: 4px;
  padding: 4px 30px 4px 7px;
  border: 1px solid #000;
  width: 250px;
  background-color: #555;
  margin-right: -20px;
  margin-top: -1px;
}
form#searchForm input[type="text"]:hover {
  background-color: #666;
}
form#searchForm input[type="text"]:focus {
  background-color: #EEE;
}
form#searchForm button#searchSubmit {
  position: relative;
  cursor: pointer;
  display: inline;
  right: 11px;
  background: url('/media/img/icons/search.png') no-repeat;
  background-position: 0;
  outline: none;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  border: 0;
}

/*
 * Table styles
 */ 
table {
  width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  margin: 0;
  padding: 0;
}
/* chartTable */
table.chartTable {
  margin-top: -12px; /* This because of the last updated time */
}
table.chartTable tbody tr {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  height: 32px;
}
table.chartTable tbody tr.justAdded {
  background-color: rgba(253, 248, 166, 1) !important;
}
table.chartTable tbody tr:nth-child(2n) {
  background-color: rgba(236, 236, 255, 0.5);
}
table.chartTable tbody tr:nth-child(2n+1) {
  /*background-color: rgba(245, 245, 245, 0.5);*/
  background-color: rgba(255, 255, 255, 1);
}
table.chartTable tbody tr.justAdded:hover,
table.chartTable tbody tr:hover {
  background-color: rgba(175, 201, 215, 0.5) !important;
}
table.chartTable tbody tr td.datetime {
  width: 82px;
}
table.chartTable tbody tr.justAddedRest td.datetime {
  position: relative;
  right: -36px;
}
table.chartTable tbody tr.justAddedRest td.title {
  position: relative;
  left: -36px;
}
table.chartTable tbody tr td.img {
  width: 32px;
}
table.chartTable tbody tr td.icon {
  width: 20px;
  padding: 0 2px;
}
table.chartTable tbody tr td.userImg {
  text-align: right;
}
table.chartTable thead tr td {
  text-align: right;
  color: #999;
  font-size: 11px;
}
/* albumTable */
table.albumTable tr {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  /*height: 64px;*/
}
table.albumTable tr td {
  vertical-align: top;
}
table.albumTable tr td.img32 {
  width: 32px;
}
table.albumTable tr td.img64 {
  width: 64px;
}
table.albumTableLeftCont tr:nth-child(2n) {
  background-color: rgba(245, 245, 245, 0.5);
}
table.albumTableLeftCont tr:nth-child(2n+1) {
  background-color: transparent;
}
table.albumTableLeftCont tr:hover {
  background-color: rgba(175, 201, 215, 0.5);
}
/* genreTable */
table.genreTable tr td {
  border-bottom: 1px solid #E1E1E1;
  line-height: 20px;
  vertical-align: bottom;
  padding: 5px 0 0 3px;
}
/* barTable */
table.barTable tr td {
  padding: 1px 0 1px 0;
}
table.barTable td.barChartRank {
  width: 2%;
  text-align: right;
  padding-left: 3px;
  padding-right: 4px;
}
table.barTable td.barChartName {
  width: 58%;
  padding-left: 5px;
}
table.barTable td.barChartBar {
  width: 42%;
  padding-right: 1px;
  background-color: transparent;
}
table.barTable div.chartBar {
  background-image: url('/media/img/charts_right_red.png');
  background-repeat: no-repeat;
  background-position: right;
}
table.barTable div.chartBar div {
  padding: 1px 0 1px 6px;
  background-color: #D71C2F;
  color: #FFF;
  margin-right: 2px;
}

/*
 * List styles
 */
ul.noBullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.chartList {
  width: 100%;
  display: block;
  overflow: hidden;
}
ul.chartList124 li {
  margin: 0 9px 20px 0;
  display: inline-block;
  overflow: visible;
  width: 130px;
  vertical-align: top;
}
ul.chartList64 li {
  margin: 0 9px 0px 0;
  display: inline-block;
  overflow: visible;
  width: 70px;
  vertical-align: top;
}

/* 
 * Icons / images
 */
img {
  padding: 0;
  margin: 0;
}
img.albumImg {
  margin-right: 4px;
}
img.artistImg,
img.albumImg,
img.userImg {
  vertical-align: middle;
}
img.artistImg124:hover,
img.albumImg124:hover,
img.userImg124:hover {
  border-color: #777;
}
img.artistImg20,
img.albumImg20,
img.userImg20 {
  width: 20px;
  height: 20px;
  border: 1px solid #232323;
}
img.artistImg32,
img.albumImg32,
img.userImg32 {
  width: 32px;
  height: 32px;
  border: 1px solid #232323;
}
img.artistImg64,
img.albumImg64,
img.userImg64 {
  width: 64px;
  height: 64px;
  border: 3px double #232323;
}
img.artistImg124,
img.albumImg124 {
  width: 124px;
  border: 1px solid #232323;
  border: 1px solid #E0E0E0;
  margin: 0 0 5px 0;
  box-shadow: 3px 3px 4px #888;
  -moz-box-shadow: 3px 3px 4px #888;
  -webkit-box-shadow: 3px 3px 4px #888;
}
img.albumImg124 {
  height: 124px;
}
span.loveIcon {
  background-image: url('/media/img/icons/heart.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 3px 0;
  margin: 3px 2px 0 0;
  vertical-align: 0;
}
img.listeningFormat {
  cursor: pointer;
  height: 64px;
  width: 64px;
  margin: 8px;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=3);
}
img.listeningFormat:hover {
  cursor: pointer;
}
img.listeningFormat.selected {
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=10);
}
img#betaLogo {
  vertical-align: -32%;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=7);
}
span#userContDropdown {
  vertical-align: 0%;
  padding-left: 18px;
  margin-right: 3px;
  background-image: url('/media/img/icons/arrow-down.png');
  background-repeat: no-repeat;
  background-position: right center;
}
img#addlistening {
  vertical-align: -20%;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=6);
}
img#addlistening:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=10);
}
span.divider {
  border-left: 1px solid #111;
  border-right: 1px solid #555;
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 0 12px 0 5px;
}
span#nowPlaying {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  background-image: url('/media/img/icons/now_playing.gif');
}
img.icon {
  width: 16px;
  height: 16px;
  vertical-align: -25%;
}

/*
 * Topbar usernav styles
 */
#userCont {
  position: relative;
  cursor: pointer;
  vertical-align: -5%;
  padding: 10px 0 10px 0;
}
#userCont ul.subnav {
  list-style: none;
  position: absolute;
  top: 34px;
  right: -7px;
  background: #333;
  margin: 0; 
  padding: 0;
  display: none;
  float: left;
  width: 157px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #111;
}
#userCont ul.subnav li {
  margin: 0; 
  padding: 0;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #444; 
  line-height: 24px;
  clear: both;
}
#userCont ul.subnav li a {
  float: left;
  font-size: 12px;
  width: 145px;
  padding: 3px 0px 3px 10px; 
  text-decoration: none;
}
#userCont ul.subnav li a:hover {
  background-color: #333;
}
/* 
 * Other
 */
hr {
  border: 0;
  color: #9E9E9E;
  background-color: #9E9E9E;
  height: 1px;
  width: 100%;
  text-align: left;
}
.hidden {
  display: none;
}
.loader {
  margin: 15px 0 0 5px;
}
.middle {
  vertical-align: middle;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.small {
  font-size: smaller;
}