/* Bar Table */
table.column_table {
  & tr td {
    padding: 1px 0;
    &.rank {
      padding-right: 4px;
      text-align: right;
      width: 2%;
      & .rank {
        background-color: var(--color-black-alter);
        border-radius: 10px;
        color: var(--color-white);
        display: inline-block;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        margin-top: 2px;
        text-align: center;
        vertical-align: middle;
        width: 20px;
      }
    }
    &.name {
      padding: 0 2px 0 5px;
      vertical-align: middle;
      width: 58%;
      & .listening_format_type {
        margin-right: 3px;
      }
    }
    &.bar {
      background-color: var(--transparent);
      padding-right: 1px;
      vertical-align: middle;
      width: 42%;
      & div {
        background-color: var(--color-yellow-dark);
        color: #000;
        padding: 2px 0 2px 3px;
        &.number {
          font-size: 11px;
        }
      }
    }
  }
  &.full {
    margin-top: 20px;
    & tr:nth-child(2n) td.name {
      background-color: var(--color-bg-white-alter);
    }
  }
}
