/** Chosen styles */
#tagAdd {
  div.chosen-container {
    max-width: 450px !important;
    height: 30px;
  }
}
#tagAdd {
  position: relative;
  select {
    width: 300px !important;
  }
}

#albumTransferData,
#artistDelete,
#albumDelete,
#associatedArtistAdd,
#tagAdd,
#artistAdd {
  width: 100%;
  select {
    width: 100%;
  }
  div.chosen-container {
    width: 100% !important;
    &.chosen-container-active {
      a.chosen-single,
      .chosen-choices {
        height: 30px;
        background: @color-white-alter;
        color: @color-black;
      }
    }
    a.chosen-single,
    .chosen-choices {
      background: @color-gray-soft;
      border-radius: 3px;
      height: 30px;
      box-shadow: none;
      color: @color-black;
      .chosen-choices {
        box-shadow: none;
      }
    }
  }
}
div.chosen-container {
  color: #000;
  outline: none;
  text-transform: none;
  width: calc(100% - 10px) !important;
  .chosen-search {
    input {
      color: #000;
    }
  }
  .chosen-single,
  .chosen-choices {
    .search-field {
    }
  }
  .chosen-drop {
    margin-top: 2px;
    .chosen-results {
      li {
        &.group-result {
          text-transform: uppercase;
        }
        &.second {
          padding-left: 12px;
        }
        &.group-option {
          padding-left: 15px;
        }
        &.highlighted {
          background: #f9f9f9;
          border-left: 5px solid #000;
          color: #000;
          font-size: 13px;
          padding-left: 7px;
          &.group-option {
            padding-left: 10px;
          }
        }
      }
      em {
        color: #000;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  &.chosen-container-active {
    .chosen-single,
    .chosen-choices {
      border: 1px solid #ccc;
      .search-field {
        input {
          color: @color-black !important;
        }
      }
    }
  }
  &.chosen-container {
    .chosen-single,
    .chosen-choices {
      border: 1px solid @color-gray-medium;
      .search-field {
        input {
          width: 100% !important;

        }
      }
    }
  }
  .chosen-choices {
    box-shadow: none;
    .search-choice {
      background-image: none;
      background: #2A2A2A;
      border-radius: 0;
      border: 0;
      box-shadow: none;
      color: #fff;
      margin-top: 5px;
      .search-choice-close {
        top: 5px;
      }
    }
  }
}