.footer {
  background-color: #111;
  clear: both;
  margin: auto auto;
  padding: 20px 0;
  width: 100%;
  .inner {
    color: #fff;
    margin: auto auto;
    max-width: 950px;
    div {
      padding: 0 10px 0 10px;
      &.social_media {
        padding-right: 10px;
        font-size: 14px;
        a {
          display: inline-block;
          margin: 0 2px;
        }
      }
    }
    a {
      color: #fff;
    }
    .links:hover a {
      color: #aaa;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}