.main_container {
  .clearfix;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto auto auto;
  max-width: 950px;
  &.no_heading {
    margin: 39px auto auto auto;
  }
  .page_links {
    background-color: #fff;
    flex-basis: 100%;
    font-family: 'Montserrat', 'Open Sans', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-seri;f';
    font-size: 18px;
    padding: 0 0 0 2px;
    a {
      display: inline-block;
      margin: 5px 15px 2px 0;
      &:hover {
        color: #777;
        text-decoration: none;
      }
      &.date_filter_submit {
        margin-right: 0;
      }
    }
    .music_date_selector {
      .date_filter_clear,
      .date_filter_submit,
      .month_selector_container,
      .day_selector_container,
      .weekday_selector_container,
      .date_range_container {
        color: #777;
        cursor: pointer;
        font-size: 12px;
        font-weight: 300;
        user-select: none;
        vertical-align: sub;
        &:hover {
          color: #000;
        }
        select {
          border: 0;
          color: #777;
          cursor: pointer;
          font-family: 'Montserrat', 'Open Sans', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
          font-size: 12px;
          font-weight: 300;
          outline: none;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  .full_container {
    background-color: #fff;
    border-top: 1px solid #ccc;
    flex: 0 0 100%;
    .container {
      box-sizing: border-box;
      margin: 15px 10px 15px 0;
      padding: 0 0 0 2px;
    }
  }
  .left_container {
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    flex: 0 0 640px;
    float: left;
    padding-bottom: 30px;
    .container {
      box-sizing: border-box;
      margin: 15px 10px 15px 0;
      padding: 0 0 0 2px;
    }
    .left_container_inner {
      float: left;
      margin-top: -15px;
      width: 150px;
    }
    .left_container_outer {
      color: #222;
      font-size: 22px;
      font-weight: normal;
      letter-spacing: 0.01em;
      margin-left: 150px;
    }
  }
  .right_container {
    border-top: 1px solid #ccc;
    flex: 1 1 0;
    padding-bottom: 20px;
    .container {
      margin: 7px 8px 15px 15px;
    }
  }
}